.header {
    padding: 1rem 0;
    font-size: 1.25rem;
    background-image: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d);
    letter-spacing: 5px;
    &__link {
        color: #fff;
        transition: all 0.25s ease-in-out 0s;
        text-decoration: none;
        font-size: 2rem;
        font-weight: 600;
        &--active,
        &:hover {
            text-decoration: none;
            color: rgb(0, 132, 255);
        }
    }
    h3 {
        color: rgb(0, 132, 255);
    }
}
