td {
    height: 25px;
    input[type="text"] {
        cursor: default;
        outline: none;
        height: 100%;
        width: 100%;
        color: #fff;
        border: none;
        background-color: transparent;
    }
}
